.Form-data{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: -250px;
}

.form{
    display: flex;
    flex-direction: column;
}

.btn-bar{
    display: flex;
    /* margin-left: -220px; */
}